<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Homepage</h1>

    <!-- scriplet tag -->

    <% let myName = "Zahraa"  %>

    <% if(myName === "Ali"){ %>
    <p>Welcome Ali</p>
    <% } else{ %>
    <p>Get out this website is for Ali</p>
    <% } %>


    <%= myName %>
</body>
</html>